.shopWrapper {
    height: auto;
    padding: 300px 0;
    width: 100%;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.shopContainer{
    max-width: 1400px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.Outer {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
    gap: 5px;
}

.Inner {
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 800px;
    gap: 5px;
}

.imgWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.content {
    width: 50%;
    max-width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    gap: 3rem;
    padding:1rem;
    position:relative;
}

.content {
    color: #f2f2f2;
}

.content > h1 {
    font-size: 3rem;
}

.storeButton {
    position: relative;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
    width: 200px;
    outline: 1px solid #0e0008;
    color: #0e0008;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0;
    cursor: pointer;
}


.storeButton:hover,
.storeButton:focus {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    outline: no-outline;
}

