.aboutMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0e0008;
    width: 100vw;
    margin-top: 4rem;
    padding: 100px 1rem;
    background: #f2f2f2;
    overflow: hidden;
  }
  
  .aboutMain > h1 {
    width: 100%;
    max-width: 1400px;
    margin-bottom: 1rem;
  }
  
  .aboutWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    position: relative;
    max-width: 1400px;
    border-radius: 3px;
    border: 2px solid #0e0008;
  }
  
  .aboutContainer {
    width: 101%;
    top: 2.5%;
    height: 95%;
    position: absolute;
    background: #f2f2f2;
}
  
  .innerWrapper {
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 0 2rem;;
  }

  .blurb {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60ch;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
  }

  .imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
  }