.contactWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0e0008;
    width: 100%;
    padding: 150px 1rem;
    background: #f2f2f2;
    padding: 0 10px;
}

.contactWrapper > h1 {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 1rem;
}

.formWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    width: 100%;
    background: #f2f2f2;
    justify-items: center;
    border-radius: 3px;
    padding: 5rem 0.75rem;
    border: 2px solid #0e0008;
    position: relative;
    max-width: 1200px;
}

.formWrapper::after {
    content: "";
    position: absolute;
    top: 2.5%;
    background: #f2f2f2;
    width: 100%;
    border: solid 2px #f2f2f2;
    height: 95%;
}

.descriptionWrapper {
    margin: 1.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30%;
    z-index: 5;
}

.descriptionWrapper > p {
    max-width: 60ch;
    text-align: center;
}

.formBox {
    width: 100%;
    max-width: 600px;
    z-index: 5;
}

.formElement {
    display: flex;
    flex-direction:column;
    padding: 1rem 0;
    width: 100%;
}

.inputBox {
    padding: 0.75rem 0.5rem;
    border: 1px solid #0e0008;
    border-radius: 3px;
}

.inputBox:focus {
    outline:none;
    background-color: rgba(233, 62, 104, 0.2);
}

.sendButton {
    position: relative;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
    width: 200px;
    outline: 1px solid #0e0008;
    color: #0e0008;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    cursor: pointer;
}

.sendButton:hover,
.sendButton:focus {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    outline: no-outline;
}

.contactMethods {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contactMethods > p {
    max-width: 50ch;
    text-align: center;
}

.contactMethods > h2 {
    max-width: 30ch;
    text-align: center;
}

.socialIcons{
    display:flex;
    gap: 1rem;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.emailWrapper{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:2rem 0 ;
}

.icon {
    font-size:2rem;
    color:#0e0008
}

.icon:hover,
.icon:focus {
    color:#e93e68
}
